---

import eduv from '../../assets/EDUV-.png'
import ProjectLayout from '../../layouts/ProjectLayout.astro'
import SwiperReact from './SwiperReact.jsx'

const title = "Eduvizija - Interaktivna obrazovna platforma"
const headline = "Razvijanje znanja kroz interaktivno učenje od prvog do osmog razreda"
const text1 = "Eduvizija je inovativna obrazovna platforma koja pruža sveobuhvatno učenje za učenike od prvog do osmog razreda. Ova interaktivna platforma fokusirana je isključivo na obrazovanje, pružajući korisnicima jedinstveno iskustvo učenja. Kroz napredne tehnologije i prilagođene lekcije, Eduvizija potiče učenike na razvoj znanja i vještina. Isključivo je posvećena edukaciji, nudeći visokokvalitetne resurse za učenje."
const subheadline = "Osvježite svoje obrazovanje kroz Eduviziju"
const text2 = "Eduvizija je dizajnirana kako bi omogućila korisnicima interaktivno učenje bez distrakcija. Platforma se fokusira na stvaranje poticajnog okruženja za obrazovanje. Svi korisnici imaju priliku istražiti i usvajati gradivo na način prilagođen njihovim potrebama, pružajući edukacijsko iskustvo bez premca."

const category="App"
const link= 'https://demo.kaufland.digitalarena.hr/'
import pic1 from '../../assets/edusc1.png'
import pic2 from '../../assets/edusc2.png'
import pic3 from '../../assets/edusc3.png'
import pic4 from '../../assets/edusc4.png'   
import pic5 from '../../assets/edusc5.png'
import pic6 from '../../assets/edusc6.png'

const images = [
  { id: 1, src: pic1, alt: 'Image 1', caption: 'Caption 1' },
  { id: 2, src: pic2, alt: 'Image 2', caption: 'Caption 2' },
  { id: 3, src: pic3, alt: 'Image 3', caption: 'Caption 3' },
  { id: 4, src: pic4, alt: 'Image 4', caption: 'Caption 4' },
  { id: 5, src: pic5, alt: 'Image 5', caption: 'Caption 5' },
  { id: 6, src: pic6, alt: 'Image 6', caption: 'Caption 6' },
];
---
<ProjectLayout>
    <div class="p-8 space-y-5 max-w-7xl mx-auto">
        <div>
          <img src={eduv.src} alt="pannel" class="rounded-lg w-full max-h-1/3"/>
        </div>
      <h1 class=" text-4xl font-bold pb-5">{headline}</h1>
      <p class="text-gray-600 text-xl">{text1}</p>
      <div class="space-y-5">
      <h1 class=" text-2xl font-bold ">{subheadline}</h2>
        <p class="text-gray-600 text-xl">{text2}</p>
          <!-- <p class="text-gray-600 text-xl">{text3}</p> -->
        <div class="flex gap-10 flex-col justify-center md:flex-row items-center md:justify-between">
          <div>
          <h3 class="font-bold text-2xl">Category:</h3><span class="text-lg">{category}</span>
          </div>
          
          <div>
            <div class="flex flex-col">
              <a href={link}>
                <button
                  class="bg-green-500 text-white font-bold py-4 px-8 text-xl rounded-md">
                  Live project
                </button>
              </a>
            </div>
  
        </div>
</div>
<div class="py-10 px-2" ><SwiperReact slides={2} pic1={pic1} pic2={pic2} pic3={pic3} pic4={pic4} pic5={pic5} pic6={pic6} client:load/></div>
</ProjectLayout>
