---
import pvSmartClick from "../assets/pvsmartclick.svg";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import pvc from "../assets/pvsmartclick.svg";
import market from "../assets/kaufland-m.jpg";
import target from "../assets/target.svg";
import bulb from "../assets/bulb.svg";
import gear from "../assets/gear.svg";
import solar from "../assets/solar.jpg"
import FrontPageLayot from "../layouts/FrontPageLayot.astro";
import checkmark from "../assets/checkmark.svg"

const pages = [
  {
    slug: undefined,
    title: "Astro Store",
    text: "Welcome to the Astro store!",
  },
  {
    slug: "projects",
    title: "Astro products",
    text: "We have lots of products for you",
    picture: pvc,
  },
  {
    slug: "projects/pvsmartclick",
    title: "PV Smart Click",
    headline:
      "Naše rješenje simulira troškove i učinkovitost solarnih elektrana",
    subheadline:
      "Prvi veliki samostalni projekt digital arene koji se trudi postaviti standard u svijetu simulacije isplativosti solarnih elektrana",
    text1: "Naša interna softverska platforma pruža sveobuhvatno rješenje za sve faze razvoja solarnih elektrana. Uključuje alate za dizajn koji omogućuju precizno planiranje i vizualizaciju, pratnju proizvodnje energije te sustave održavanja. Osim toga, softver pruža mogućnost selekcije opreme koja je ključna za optimalno funkcioniranje solarnih elektrana. . Integrirajući ove ključne aspekte, naša platforma olakšava upravljanje, poboljšava učinkovitost i osigurava dugoročnu pouzdanost solarnih energetskih sustava.Za razvoj web aplikacije je korišten primarno Angular kao frontend framework",
    cardHeadline: "Točne Prognoze",
    card1Text:
      "Iako globalno tržište obiluje raznolikim alatima za simulaciju proizvodnje električne energije, naš proizvod ističe se inovativnošću kako u našoj regiji, tako i na širem  tržištu, koje smo temeljito istražili u potrazi za sličnim rješenjem.",
    cardHeadline2: "Mogućnosti",
    card1Text2:"Nema dostupne aplikacije na za izračun profitabilnosti i učinkovitosti elektrane prema individualnim potrebama. Možda postoji nešto slično, ali nije prilagođeno cijenama električne energije, vremenskoj diferencijaciji viših i nižih tarifa te zakonima pojedinih zemalja u regiji.",
    cardHeadline3: "Inovacije",
    card1Text3:
      "Svjesni smo izazova inženjerskog dizajna fotoelektričnog sustava. Potrebna nam je umjetna inteligencija koja će pretraživati proizvode, pružati preporuke i optimizirati odgovore kako bismo mogli generirati dizajn u pitanju minuta, a ne u tjednima.",
    icon: target.src,
    icon1: bulb.src,
    icon2: gear.src,
    picture: pvc,
    li1: "Rješavanje neizvjesnosti investitora prilikom ulaganja u obnovljive izvore energije, optimizacija malih elektrana u skladu s potrošnjom i lokalnim distributerom energije",
    li2: "Pružanje točne dokumentacije uz samo dva unosa od korisnika: lokacija i potrošnja.",
    li3: "Poticanje postojećih potrošača električne energije da ulože u fotonaponske elektrane za vlastite potrebe i potrošnju",
    li4: "Korištenje umjetne inteligencije za pomoć pri odabiru opreme prema dostupnosti, cjenovnom rasponu i lokaciji",
    li5: "Praćenje proizvodnje i potrošnje te pružanje analiza i uvida",
    li6: "U određenom trenutku početak instaliranja uređaja za praćenje izolacije u regiji interesa, te politika postavljanja tih uređaja prvenstveno na krovove škola i javnih zgrada, u zamjenu za besplatnu dokumentaciju njihovih objekata. Ovo će pružiti točnije i jedinstvene podatke",
    planHeadline:"Trenutno je u regiji izgrađeno oko 100 MWp solarnih kapaciteta. U idućih deset godina postoji potencijal za razvoj do 500 MWp, od čega se oko 70% planira usmjeriti prema malim solarnim elektranama. Trošak instalacije po proizvedenom kilovat satu iznosi otprilike 1000 eura. Procjenjuje se da je ukupna vrijednost potencijalnog tržišta oko 300 milijuna eura."
  },

  {
    slug: "projects/market",
    title: "Kaufland market",
    text: "If you want to learn Astro, you must read this book.",
    picture: market,
    text1:"Aplikacija k-marke(t) kao sastavni dio Kauflandove nagradne igre koja se odvijalau periodu od 30.08.2023. do 03.10.2023. Tijekom naradne igre korisnicu su svaki dan mogli dobiti bogate Kauflandove nagrade. Aplikacija je uspješno isporučena naručitelju te je zadovoljila uslugom u svkom aspektu. Za izradu aplikacije je korišten NUXT kao 'fullstack' javascript framework."
  },
];

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const {
  title,
  text,
  picture,
  planHeadline,
  subheadline,
  text1,
  cardHeadline,
  card1Text,
  card1Text2,
  cardHeadline2,
  cardHeadline3,
  card1Text3,
  icon1,
  icon2,
  icon,
  li1,
  li2,
  li3,
  li4,
  li5,
  li6,
} = page;
---
<BaseLayout>
    <section class="dark:bg-gray-900 text-white py-20">
      <div class="container mx-auto flex flex-col items-center justify-center text-center">
        <h1 class="text-6xl md:text-5xl lg:text-8xl font-extrabold leading-tight tracking-tight mb-6">
          <span class="text-gray-900 dark:text-gray-100">{title}</span>
        </h1>
        <Image src={picture} alt="logo" class="w-1/2"/>
      </div>
      
      <div class="max-w-xl mx-auto text-center">
        <p class="text-gray-900 dark:text-gray-100">{subheadline}</p>
      </div>
      
      <div class="text-gray-900 text-base flex flex-col max-w-6xl mx-auto">
        <h3 class="dark:text-gray-100 py-10 text-lg text-columns ">{text1}</h3>
      </div>




    {icon1 &&
<article class="max-w-4xl mx-auto my-8 p-8 bg-gray-100 shadow-md rounded-md dark:bg-gray-900">
  <h2 class="text-3xl md:text-5xl font-bold mb-6 text-center dark:text-gray-100 text-gray-900">Pogled na globalno tržište</h2>

  <div class="mb-6 flex justify-center">
    <span class="inline-block w-2 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-4 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-48 h-2 rounded-full bg-green-500"></span>
    <span class="inline-block w-4 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-2 h-2 rounded-full bg-green-500 ml-1"></span>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Inovativnost proizvoda</p>
    <p class="mb-6 max-w-3xl mx-auto text-sm md:text-xl dark:text-gray-100 text-gray-900 text-justify sm:text-base md:mb-10 lg:mb-12">Sam proizvod je inovativan u našoj regiji, kao i na većini globalnog tržišta koje smo provjerili za dostupnost sličnog alata.</p>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Nedostatak prilagođenih aplikacija</p>
    <p class="mb-6 max-w-3xl mx-auto text-sm md:text-xl dark:text-gray-100 text-gray-900 text-justify sm:text-base md:mb-10 lg:mb-12">Nema dostupne aplikacije na regionalnoj ili čak globalnoj razini za izračun profitabilnosti i učinkovitosti elektrane prema individualnim potrebama. Možda postoji nešto slično, ali nije prilagođeno cijenama električne energije, vremenskoj diferencijaciji viših i nižih tarifa te zakonima pojedinih zemalja u regiji.</p>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Izazovi inženjerskog dizajna</p>
    <p class="mb-6 max-w-3xl mx-auto text-sm md:text-xl dark:text-gray-100 text-gray-900 text-justify sm:text-base md:mb-10 lg:mb-12">Svjesni smo izazova inženjerskog dizajna fotoelektričnog sustava. Potrebna nam je umjetna inteligencija koja će pretraživati proizvode, pružati preporuke i optimizirati odgovore kako bismo mogli generirati dizajn u pitanju minuta, a ne u tjednima.</p>
  </div>
</article>
    }
{planHeadline && 
 <section class="bg-gray-100 dark:bg-gray-800">

  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">

    <div class="flex flex-col gap-8 sm:gap-20  lg:items-center">

      <div class="">
 
        <h2 class="mb-2 max-w-3xl mx-auto text-3xl md:text-5xl text-center dark:text-gray-100 text-gray-900">Ciljevi</h2>

        <div class="text-center mb-10">
          <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
          <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
          <span class="inline-block w-40 h-1 rounded-full bg-green-500"></span>
          <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
          <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
          <p class="mb-6 max-w-3xl mx-auto text-sm md:text-xl dark:text-gray-100 text-gray-900 text-justify sm:text-base md:mb-10 lg:mb-12">{planHeadline}</p>
        </div>
        <!-- List -->
        <ul class="flex flex-col text-base">
          <li class="mb-2 flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="max-[479px]:text-sm dark:text-gray-100 text-gray-900">{li1}</p>
          </li>
          <li class="mb-2 flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="dark:text-gray-100 text-gray-900 max-[479px]:text-sm md:text-base">{li2}</p>
          </li>
          <li class="mb-2 flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="dark:text-gray-100 text-gray-900 max-[479px]:text-sm md:text-base">{li3}</p>
          </li>
          <li class="flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="dark:text-gray-100 text-gray-900 max-[479px]:text-sm md:text-base">{li4}</p>
          </li>
          <li class="flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="dark:text-gray-100 text-gray-900 max-[479px]:text-sm md:text-base">{li5}</p>
          </li>
          <li class="flex items-center gap-2">
            <img src={checkmark.src} alt="" class="mr-2 inline-block h-6 w-6" />
            <p class="dark:text-gray-100 text-gray-900 max-[479px]:text-sm md:text-base">{li6}</p>
          </li>
        </ul>
      </div>
      <!-- Item -->
      <div class="lg:w-full">
  <Image src={solar} alt="solar panel" class="rounded-md aspect-19- shadow-md w-full h-auto" />
</div>
    </div>
  </div>
</section>

    }


    </section>
    {planHeadline && 
<article class="max-w-4xl mx-auto my-8 p-8 bg-gray-100 shadow-md rounded-md dark:bg-gray-900">
  <h2 class="text-3xl md:text-5xl font-bold mb-6 text-center dark:text-gray-100 text-gray-900">Tehnički aspekti projekta</h2>

  <div class="mb-6 flex justify-center">
    <span class="inline-block w-2 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-4 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-48 h-2 rounded-full bg-green-500"></span>
    <span class="inline-block w-4 h-2 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-2 h-2 rounded-full bg-green-500 ml-1"></span>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Osnovni Modeli</p>
    <p class="text-base dark:text-gray-400 text-gray-600">Aplikacija koristi napredne matematičke modele koji uzimaju u obzir faktore poput geografske lokacije, vremenskih uzoraka, orijentacije panela te performansi opreme kako bi proizveli precizne podatke o troškovima i performansama. Postoje mnoge planirane značajke.</p>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Korisničko Sučelje</p>
    <p class="text-base dark:text-gray-400 text-gray-600">Naše korisničko sučelje omogućuje brz unos podataka kako bi vlasnici i operateri mogli simulirati različite scenarije i vizualizirati utjecaj na njihove planirane solarne elektrane.</p>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Integracijske Mogućnosti</p>
    <p class="text-base dark:text-gray-400 text-gray-600">Dizajnirali smo naš alat kako bi se lako integrirao s postojećim softverskim i hardverskim rješenjima, omogućavajući besprijekornu i sveobuhvatnu analizu podataka te izvještavanje.</p>
  </div>

  <div class="mb-8">
    <p class="text-lg font-semibold mb-2 dark:text-gray-300 text-gray-700">Dvije web aplikacije - Analiza i Praćenje</p>
    <p class="text-base dark:text-gray-400 text-gray-600">Web aplikacija za analizu imala bi nekoliko ulaznih parametara...</p>
    <p class="text-base dark:text-gray-400 text-gray-600">Nakon izgradnje solarnog postrojenja, web aplikacija za praćenje bi nadzirala proizvodnju i potrošnju električne energije u stvarnom vremenu, status opreme i, ovisno o pojedinačnoj zemlji, pokazala stvarne uštede.</p>
  </div>
</article>

    
  }
  </BaseLayout>


