---
import BaseLayout from "../layouts/BaseLayout.astro";
import resume from '../assets/resume.svg'
import { Image } from "astro:assets";
import cv from '../assets/cv.svg'
import phone from '../assets/phone.svg'
import skill from '../assets/skill.svg'
import people from '../assets/people.svg'


const data = [
    {
        position: 'Frontend Developer',
        location: 'New York',
        type: 'Full-Time | Part Time'
    },
    {
        position: 'Data Scientist',
        location: 'San Francisco',
        type: 'Full-Time | Contract'
    },
    {
        position: 'UI/UX Designer',
        location: 'Los Angeles',
        type: 'Contract | Part Time'
    },
    {
        position: 'Product Manager',
        location: 'Chicago',
        type: 'Remote | Contract'
    },
    {
        position: 'Software Engineer',
        location: 'Boston',
        type: 'Part-Time | Contract'
    },
    {
        position: 'Software Engineer',
        location: 'Remote',
        type: 'Part-Time | Contract'
    }
];

const zaposljavanje = [
    {
      icon: cv.src,
        headline: 'Podnošenje molbe',
        paragraf: 'Pošaljite CV i zamolbu za radno mjesto ukoliko zadovoljavate ucijete radnog mjesta'
    },
    {
      icon: phone.src,
      headline: 'Inicialni invervju',
        paragraf: 'Pošaljite CV i zamolbu za radno mjesto ukoliko zadovoljavate ucijete radnog mjesta'
    },
    {
      icon: skill.src,
      headline: 'Test znanja',
        paragraf: 'Pošaljite CV i zamolbu za radno mjesto ukoliko zadovoljavate ucijete radnog mjesta'
    },
    {
      icon: people.src,
      headline: 'Finalni razgovor',
        paragraf: 'Pošaljite CV i zamolbu za radno mjesto ukoliko zadovoljavate ucijete radnog mjesta'
    },

 

];
---

<BaseLayout>
<div>
<!-- HERO -->
<div class="dark:bg-gray-900 bg-white sm:h-[80vh] pt-20">
  <div class="bg-white dark:bg-gray-900 flex flex-col justify-center md:flex-row relative z-15 items-center">
    <div class="flex flex-col relative z-15 md:w-1/2 lg:w-full">
      <h1 class="sm:text-5xl md:text-6xl lg:text-8xl xl:text-9xl font-black whitespace-pre leading-none dark:text-gray-100 text-gray-800 text-center sm:text-left">Karijera u
<span class="text-green-500">digital areni</span>
      </h1>
      <p class="text-sm text-left sm:text-base text-gray-700 dark:text-white sm:text-left">
        Dimension of reality that makes change possible and understandable. An indefinite and homogeneous environment in which natural events and human existence take place.
      </p>
      <div class="flex justify-center sm:justify-start mt-6">
        <a href="#" class="uppercase py-2 px-6 sm:py-4 sm:px-8 rounded-lg bg-green-500 border-2 border-transparent text-white text-sm sm:text-md mr-2 sm:mr-4 hover:bg-green-400 hover:text-white">
          Pogledajte otvorene poslove
        </a>
      </div>
    </div>
    <div class="sm:w-1/2 relative pt-5 lg:pt-0">
      <Image src={resume} alt="career photo" class="w-full" />
    </div>
  </div>

</div>

<!-- život u grid-cols-3  gap-10 grid-rows-3 -->
<div class="flex flex-col-reverse lg:flex-row py-10 items-center justify-center gap-x-10 relative">
<div class="grid grid-cols-2 sm:grid-cols-3 grid-rows-3 gap-10 md:grid-cols-2 max-w-xl mx-auto ">
  <div class="grid-item bg-gray-100 dark:bg-inherit dark:border   rounded-2xl space-y-5 p-2 flex flex-cols items-center justify-between">
      <div class=" rounded-2xl py-10">
          <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#4caf50" fill-rule="evenodd" d="M11.96 1.25h.08c.979 0 1.771 0 2.41.066c.662.068 1.237.213 1.753.554c.298.196.567.434.798.707c.399.472.611 1.025.758 1.675c.142.626.236 1.413.353 2.384l.102.853c.12.997.219 1.823.206 2.482c-.014.692-.151 1.329-.617 1.854c-.466.526-1.082.738-1.768.834c-.652.091-1.484.091-2.488.091h-.797v1H17c.321 0 .622.086.88.237l.28-.837a4.69 4.69 0 0 1 .205-.543c.086-.185.13-.258.198-.371c.285-.469.657-.876 1.258-1.14c.566-.25 1.274-.346 2.179-.346a.75.75 0 0 1 0 1.5c-.827 0-1.29.092-1.574.218c-.249.11-.41.265-.581.547c-.03.05-.043.071-.056.096a2.24 2.24 0 0 0-.063.127c-.05.11-.075.18-.15.404l-.864 2.595a.747.747 0 0 1-.147.256A2.751 2.751 0 0 1 16 18.25h-3.25v1.166a3.63 3.63 0 0 1 2.461 2.347a.75.75 0 0 1-1.422.474a2.13 2.13 0 0 0-1.039-1.216V22a.75.75 0 0 1-1.5 0v-.98a2.13 2.13 0 0 0-1.039 1.217a.75.75 0 0 1-1.423-.474a3.63 3.63 0 0 1 2.462-2.347V18.25H8a2.751 2.751 0 0 1-2.565-1.757a.748.748 0 0 1-.147-.256l-.865-2.595a3.433 3.433 0 0 0-.15-.404a2.24 2.24 0 0 0-.118-.223c-.171-.282-.332-.437-.581-.547c-.285-.126-.747-.218-1.574-.218a.75.75 0 0 1 0-1.5c.905 0 1.613.095 2.18.345c.6.265.972.672 1.257 1.14c.068.114.112.187.198.372c.088.192.137.337.206.543l.279.837c.258-.15.559-.237.88-.237h4.25v-1h-.797c-1.004 0-1.836 0-2.488-.091c-.686-.096-1.302-.309-1.768-.834c-.466-.525-.603-1.162-.617-1.854c-.013-.659.086-1.485.206-2.482l.102-.853c.117-.971.211-1.758.353-2.384c.147-.65.359-1.203.758-1.675c.231-.273.5-.51.798-.707c.516-.34 1.09-.486 1.753-.554c.639-.066 1.431-.066 2.41-.066ZM16 16.75c.69 0 1.25-.56 1.25-1.25a.25.25 0 0 0-.25-.25H7a.25.25 0 0 0-.25.25c0 .69.56 1.25 1.25 1.25h8ZM9.704 2.808c-.539.056-.846.158-1.081.314a2.25 2.25 0 0 0-.479.424c-.182.216-.32.508-.44 1.036c-.123.543-.209 1.252-.331 2.273l-.091.758C7.154 8.679 7.069 9.4 7.08 9.94c.01.52.109.741.24.889c.13.147.338.271.853.343c.536.075 1.262.077 2.336.077h2.982c1.074 0 1.8-.002 2.336-.077c.515-.072.723-.196.854-.343c.13-.148.229-.37.24-.889c.01-.541-.075-1.262-.203-2.328l-.09-.758c-.123-1.021-.21-1.73-.332-2.273c-.12-.528-.258-.82-.44-1.036a2.248 2.248 0 0 0-.479-.424c-.235-.156-.542-.258-1.081-.314c-.553-.057-1.267-.058-2.296-.058s-1.743 0-2.296.058Z" clip-rule="evenodd"/></svg></div>
          <h3 class="dark:text-gray-100 text-2xl font-semibold">Large Office</h3>
          <p class="text-sm dark:text-gray-300 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
      </div>
  </div>
  <div class="grid-item  dark:border bg-gray-100 dark:bg-inherit  rounded-2xl space-y-5 p-2 mt-5 -mb-5 flex flex-cols items-center justify-between">
    <div class=" rounded-2xl">
        <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#4caf50" d="M7.5 2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2M6 7h3a2 2 0 0 1 2 2v5.5H9.5V22h-4v-7.5H4V9a2 2 0 0 1 2-2m10.5-5a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2M15 7h3a2 2 0 0 1 2 2v5.5h-1.5V22h-4v-7.5H13V9a2 2 0 0 1 2-2Z"/></svg></div>
        <h3 class="text-2xl font-semibold dark:text-gray-100">Great coworkers</h3>
        <p class="text-sm dark:text-gray-300 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
    </div>
</div>
<div class="grid-item  dark:border bg-gray-100 dark:bg-inherit  space-y-5 p-2  rounded-2xl flex flex-cols items-center justify-between">
  <div class=" rounded-2xl">
      <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#4caf50" d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5Zm0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3Z"/><path fill="#4caf50" d="m16 30l-8.436-9.949a35.076 35.076 0 0 1-.348-.451A10.889 10.889 0 0 1 5 13a11 11 0 0 1 22 0a10.884 10.884 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.812 18.395c.002 0 .234.308.287.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.901 8.901 0 0 0 25 13a9 9 0 1 0-18 0a8.905 8.905 0 0 0 1.813 5.395Z"/></svg></div>
      <h3 class="text-2xl font-semibold dark:text-gray-100">Location</h3>
      <p class="text-sm dark:text-gray-300 text-gray-800" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
  </div>
</div>
<div class="grid-item  dark:border bg-gray-100 dark:bg-inherit  rounded-2xl space-y-5 p-2 mt-5 -mb-5 flex flex-cols items-center justify-between">
  <div class=" rounded-2xl">
      <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path fill="#4caf50" d="M12 .807L23.835 8.5L22 9.693V16h-2v-5.008l-1 .65V17.5c0 1.47-1.014 2.615-2.253 3.338C15.482 21.576 13.802 22 12 22s-3.483-.424-4.747-1.162C6.013 20.116 5 18.97 5 17.5v-5.857L.165 8.5L12 .807ZM7 12.943V17.5c0 .463.33 1.067 1.261 1.61c.908.53 2.227.89 3.739.89s2.831-.36 3.739-.89c.932-.543 1.26-1.147 1.26-1.61v-4.557l-5 3.25l-5-3.25ZM20.165 8.5L12 3.192L3.835 8.5L12 13.807L20.165 8.5Z"/></svg></div>
      <h3 class="text-2xl font-semibold dark:text-gray-100">Education</h3>
      <p class="text-sm dark:text-gray-300 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
  </div>
</div>
  <div class="grid-item  dark:border bg-gray-100 dark:bg-inherit  space-y-5 p-2 rounded-2xl flex flex-cols items-center justify-between">
    <div class=" rounded-2xl">
        <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="none" stroke="#4caf50" stroke-linejoin="round" stroke-width="4"><path d="M6 14h36V8h-4l-2-4H12l-2 4H6v6Z"/><path stroke-linecap="round" d="m36 44l2-30H10l2 30h24Z"/></g></svg></div>
        <h3 class=" dark:text-gray-100 text-2xl font-semibold">Snacks</h3>
        <p class="text-sm dark:text-gray-300 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
    </div>
</div>
<div class="grid-item  dark:border bg-gray-100 dark:bg-inherit  space-y-5 p-2 rounded-2xl mt-5 -mb-5 flex flex-cols items-center justify-between">
  <div class=" rounded-2xl">
      <div class="icon w-1/4 "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4caf50" d="m305.975 298.814l22.704 2.383V486l-62.712-66.965V312.499l18.214 8.895zm-99.95 0l-22.716 2.383V486l62.711-66.965V312.499l-18.213 8.895zm171.98-115.78l7.347 25.574l-22.055 14.87l-1.847 26.571l-25.81 6.425l-10.803 24.314l-26.46-2.795l-18.475 19.087L256 285.403l-23.902 11.677l-18.475-19.15l-26.46 2.795l-10.803-24.313l-25.81-6.363l-1.847-26.534l-22.118-14.92l7.348-25.573l-15.594-21.544l15.644-21.52l-7.398-25.523l22.068-14.87L150.5 73.03l25.86-6.362l10.803-24.313l26.46 2.794L232.098 26L256 37.677L279.902 26l18.475 19.149l26.46-2.794l10.803 24.313l25.81 6.425l1.847 26.534l22.055 14.87l-7.347 25.574l15.656 21.407zm-49.214-21.556a72.242 72.242 0 1 0-72.242 72.242a72.355 72.355 0 0 0 72.242-72.242zm-72.242-52.283a52.282 52.282 0 1 0 52.282 52.283a52.395 52.395 0 0 0-52.282-52.245z"/></svg></div>
      <h3 class=" dark:text-gray-100 text-2xl font-semibold">Performance awards</h3>
      <p class="text-sm dark:text-gray-300 text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, et!</p>
  </div>
</div>
<div class="absolute left-1/2 top-0 -translate-x-1/2 blur-3xl xl:top-96 xl:right-70" aria-hidden="true">
  <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-blue-200 to-blue-300 opacity-30" style="clip-path: polygon(55.2% 10.1%, 100% 45.6%, 97.5% 10.9%, 85.5% 0.1%, 80.7% 12%, 72.5% 42.5%, 60.2% 52.4%, 42.4% 28.1%, 47.5% 38.3%, 45.2% 14.5%, 27.5% 56.7%, 0.1% 44.9%, 17.9% 80%, 27.6% 56.8%, 76.1% 77.7%, 55.2% 10.1%);"></div>
</div>
</div>
<div class="text text-center p-4">
  <div class="text-center">
    <h2 class="text-4xl sm:text-5xl md:text-6xl lg:text-5xl font-semibold text-gray-900 dark:text-white">
      Life-work balance
    </h2>
    <div class="text-center mb-6 sm:mb-10 max-w-2xl">
      <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-20 sm:w-40 h-1 rounded-full bg-green-500"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      <p class="text-sm sm:text-base text-left dark:text-gray-100">
        Dobrodošli u digitalnu arenu gdje se pruža prilika za osobni i profesionalni rast kao nikada prije! Naš tim stručnjaka radi na projektima koji mijenjaju svijet, koristeći najnovije tehnologije i inovacije. Ovdje vam nudimo priliku da budete dio nečega većeg, da istražujete granice i ostvarujete svoj puni potencijal.
      </p>
      <p class="text-sm sm:text-base text-left pt-3 sm:pt-5 dark:text-gray-100">
        No, kod nas ne vrednujemo samo poslovni uspjeh. Shvaćamo važnost ravnoteže između posla i života te podržavamo naše zaposlenike u postizanju Life Work balansa. Radimo zajedno kao tim, ali također cijenimo vaše vrijeme za obitelj i osobne interese. Ovdje se ne radimo samo za plaću, već i zbog strasti prema onome što radimo.
      </p>
    
    </div>
  </div>
  <div class="flex justify-center sm:justify-start mt-6">
    <a href="#" class="uppercase py-2 px-6 sm:py-4 sm:px-8 rounded-lg bg-green-500 border-2 border-transparent text-white text-sm sm:text-md mr-2 sm:mr-4 hover:bg-green-400 hover:text-white">
      Pogledajte više
    </a>
  </div>
</div>
</div>

<!-- trenutno otvorene pozicije -->

<div class="text text-center p-4 py-20 ">
  <div class="text-center">
    <h2 class="text-4xl sm:text-5xl md:text-6xl lg:text-5xl font-semibold text-gray-900 dark:text-white">
 Otvoreni poslovi
    </h2>
    <div class="text-center mb-6 sm:mb-10 ">
      <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-20 sm:w-40 h-1 rounded-full bg-green-500"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      
    
    </div>
  </div>
  <div class="grid grid-cols-3 max-w-5xl gap-10 mx-auto">
   
    
    {data.map((podatak) => {
      return (
        <div class="border rounded-2xl">

          <div>
            <div class="flex items-center justify-start">
            <div class="icon w-1/6 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#4caf50" d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5Zm0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3Z"/><path fill="#4caf50" d="m16 30l-8.436-9.949a35.076 35.076 0 0 1-.348-.451A10.889 10.889 0 0 1 5 13a11 11 0 0 1 22 0a10.884 10.884 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.812 18.395c.002 0 .234.308.287.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.901 8.901 0 0 0 25 13a9 9 0 1 0-18 0a8.905 8.905 0 0 0 1.813 5.395Z"/></svg>
       
         
         </div>
         <div>
          <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{podatak.location}</span>
          </div>
        </div>
          <p class="dark:text-gray-100 text-left pl-2">{podatak.position}</p>
          <p class="dark:text-gray-100 text-left pl-2 text-sm ">{podatak.type}</p>
          <button class="bg-green-500 rounded-2xl px-4 text-xl mb-4">
         <a class="text-inherit hover:text-green-800 transition duration-200" href="">Prijavi se</a> 
            </button>
        </div>
          
          
          
          </div>
      )
    })}
    </div>



  </div>
 
</div>

<div class="text text-center p-4 py-20 relative ">
  <div class="text-center">
    <h2 class="text-4xl sm:text-5xl md:text-6xl lg:text-5xl font-semibold text-gray-900 dark:text-white">
Proces zapošljavanja u digital areni
    </h2>
    <div class="text-center mb-6 sm:mb-10 ">
      <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      <span class="inline-block w-20 sm:w-40 h-1 rounded-full bg-green-500"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
      
    
    </div>
  </div>
  <div class="grid grid-cols-3 max-w-5xl gap-10 mx-auto">
   {}
  </div>


<div class="flex gap-32 items-center z-10 justify-between relative ">
{zaposljavanje.map((zap) => {
  return (
  <div class="border-2 border-green-500 max-w-md rounded-xl p-3 dark:bg-gray-900" >
          <img src={zap.icon} alt="icon" class="w-1/4" />
          <h3 class="text-2xl dark:text-gray-100">{zap.headline}</h3>
          <p class="text-left dark:text-gray-100 text-base py-10">{zap.paragraf}</p>
        </div>
  )
})}
 <div class="absolute left-1/2 -z-10 top-0 -translate-x-1/2 blur-3xl xl:-top-[20rem] xl:right-30" aria-hidden="true">
  <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-blue-200 to-[#352bc5] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
</div>
</div>
</div>
</div>
</div>



  </BaseLayout>