---
import { img } from "astro:assets";
import croz from '../../assets/croz2.png'
import kaufland from '../../assets/kaufland.png'
import rba from '../../assets/rba.png'
import apis from '../../assets/apis2.jpg'
import pbz from '../../assets/pbz3.jpg'
import zaba from '../../assets/Zaba.svg'
import addiko from '../../assets/Addiko.svg'
import ericson from '../../assets/ericson.svg'
import HRT from '../../assets/HRT.png'
import posta from '../../assets/posta.svg'
import king from '../../assets/kingICT.png'
import A1 from '../../assets/A1.png'

import combis from '../../assets/combis.png'
import bilog from '../../assets/bilog.svg'
---


<div class=" px-10">
<div class=" sm:pe-6 lg:pe-8 py-10">
    <div class="flex flex-col justify-center items-center py-5">
               <h2 class="text-left font-bold text-4xl md:text-4xl">Our Partners</h2>
        
    </div>

  
  
       
    <div class="flex flex-col items-center justify-center h-full ">
        <div class="container max-w-8xl mx-auto px-2 md:px-4 lg:px-6">
          <div class="grid grid-cols-4 grid-rows-2 gap-4 md:grid-cols-3 lg:grid-cols-5 md:max-w-xl md:mx-auto place-items-center lg:max-w-6xl lg:mx-auto">
            <div class="flex items-center justify-center w-full">
              <img src={croz.src} alt="croz logo" style="aspect-ratio:89/56" class="p-2 object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
              <img src={kaufland.src} alt="kaufland logo" style="aspect-ratio:89/56" class="object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
                <img src={A1.src} alt="kaufland logo" style="aspect-ratio:89/56" class="object-contain w-full h-full rounded-md border-2 shadow-md">
              </div>
            <div class="flex items-center justify-center w-full">
                <img src={king.src} alt="kaufland logo" style="aspect-ratio:89/56" class="object-cover w-full h-full rounded-md border-2 shadow-md">
              </div>
            <div class="flex items-center justify-center w-full">
                <img src={posta.src} alt="kaufland logo" style="aspect-ratio:89/56" class="object-contain p-3 w-full h-full rounded-md border-2 shadow-md">
              </div>
              <div class="flex items-center justify-center w-full">
                <img src={combis.src} alt="kaufland logo" style="aspect-ratio:89/56" class="object-contain p-3 w-full h-full rounded-md border-2 shadow-md">
              </div>
            <div class="flex items-center justify-center w-full">
              <img src={rba.src} alt="rba logo" style="aspect-ratio:89/56" class="object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
                <img src={HRT.src} alt="rba logo" style="aspect-ratio:89/56" class="object-contain w-full h-full rounded-md border-2 shadow-md">
              </div>
              <div class="flex items-center justify-center w-full">
                <img src={bilog.src} alt="rba logo" style="aspect-ratio:89/56" class="p-2 object-contain w-full h-full rounded-md border-2 shadow-md">
              </div>
      
            <div class="flex items-center justify-center w-full">
              <img src={apis.src} alt="apis logo" style="aspect-ratio:89/56" class="object-cover w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
              <img src={pbz.src} alt="pbz logo" style="aspect-ratio:89/56" class="object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
                <img src={ericson.src} alt="pbz logo" style="aspect-ratio:89/56" class=" p-2 object-contain w-full h-full rounded-md border-2 shadow-md">
              </div>
            <div class="flex items-center justify-center w-full">
              <img src={zaba.src} alt="zaba logo" style="aspect-ratio:89/56" class="p-2 object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
            <div class="flex items-center justify-center w-full">
              <img src={addiko.src} alt="addiko logo" style="aspect-ratio:89/56" class="p-2 object-contain w-full h-full rounded-md border-2 shadow-md">
            </div>
          </div>
        </div>
      </div>


    