---
import idea from '../../assets/idea.svg'
import solar from '../../assets/solar.svg'
import code from '../../assets/code.svg'
import iso from '../../assets/iso.svg'
import gdpr from '../../assets/gdpr.svg'
import ciso from '../../assets/ciso.svg'
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import LanguagePicker from '../LanguagePicker.astro'

let lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);



const services= 
[
 
  {
    category: t('ser.it'),
    description: t('ser.it-text'),
    readMoreLink: t('read-more'),
    svg: idea.src,
    link:`/${lang}/services/it`
  },
  {
    category: t('ser.ict'),
    description: t('ser.ict-text'),
    readMoreLink: t('read-more'),
    svg: code.src,
    link:`/${lang}/services/ict`
   
  },
  {
    category: t('ser.Energetics'),
    description: t('ser.Energetics-text'),
    readMoreLink: t('read-more'),
    svg: solar.src,
    link:`/${lang}/services/energetics`
   
  },
  {
    category: "GDPR",
    description: t('ser.gdpr-text'),
    readMoreLink: t('read-more'),
    svg: gdpr.src,
    link:`/${lang}/services/isoGdprCisco`
  
  },
  {
    category: "CISO",
    description: t('ser.ciso-text'),
    readMoreLink: ('read-more'),
    svg: ciso.src,
    link:`/${lang}/services/isoGdprCisco`
 
  },
  {
    category: "ISO",
    description: t('ser.iso-text'),
    readMoreLink: t('read-more'),
    svg: iso.src,
    link:`/${lang}/services/isoGdprCisco`
 
  }
]

---


<div class="bg-white pt-20">

    <p class="text-green-500 text-center font-bold text-lg md:text-2xl">{t('ser.sub')}</p>
    <h2 class="text-center font-bold text-3xl md:text-4xl"> {t('ser.headline')}</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 py-10 gap-y-10 max-w-7xl mx-auto px-5 xl:px-5" >
{services.map((service)=> {
    return (
       
        <div class="shadow-xl maw-w-sm mx-auto p-5 group space-y-10 hover:-translate-y-2 duration-300">
        <img src={service.svg} class="w-1/6 group-hover:transform group-hover:scale-x-[-1] transition duration-500"/>
        <h4 class="text-2xl font-bold">{service.category}</h4>
       <p class="text-lg ">{service.description}</p>
        <p class="text-green-500 font-bold flex gap-5 items-center"><span class="hover:translate-x-2 duration-300 text-2xl font-bold">&rarr;</span><a href={service.link} >{t('read-more')}</a></p>
    </div> 
        
    )

})}
</div> 