---
import { Image } from "astro:assets";
import Image2 from "../assets/it1.jpg";
import Image3 from "../assets/it3.jpg";
import Image4 from "../assets/it2.jpg";
import Image5 from "../assets/it4.jpg";
import Image6 from "../assets/it5.jpg";

import g1 from "../assets/g1.svg";
import g2 from "../assets/g2.svg";
import g3 from "../assets/g3.svg";
import g4 from "../assets/g4.svg";
import g5 from "../assets/g5.svg";
import g6 from "../assets/g6.svg";
import g7 from "../assets/g7.svg";
import g8 from "../assets/g8.svg";
// import Test from "./Test";
---

<!-- <h2 class="text-6xl font-bold text-gray-800 mb-6 text-center pt-20">Culture at Digital Arena</h2>
  <div class="">
    <div class="flex gap-5 justify-center items-center">
    <div class="">
      <Image class="h-3/4" src={Image2} alt="Square Image 2" class="hover:scale-110" />
    </div>
   <div class="grid grid-cols-1 gap-2">
    <div class="">
        <Image class="" src={Image3} alt="Square Image 2" />
    </div>
   
    <div class="flex gap-2">
        <Image class="w-1/2" src={Image4} alt="Square Image 2" />
        <Image class="w-1/2" src={Image4} alt="Square Image 2" />
    </div>
</div>
</div>
  
  </div> -->

  <div class="py-20 md:py-32">
    <h2 class="text-5xl md:text-7xl font-bold lg:text-5xl text-left text-green-800 mt-10 mb-8 pb-20">Company Values</h2>

    <!-- <Test client:load/>  -->
  </div>

  <!-- <div class="py-20 md:py-32
  xl:py-40 xl:mx-10">
    <h2 class="text-5xl md:text-7xl font-bold lg:text-5xl text-left text-green-800 mt-10 mb-8 pb-20">Company Values</h2>
  <div class="gap-y-[35rem] lg:gap-y-[32rem] xl:gap-y-[25rem] xl:gap-x-20 gap-x-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 ">
  <div class="relative group">
    <Image
      src={g2}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-0 group-hover:-translate-y-5  md:group-hover:translate-x-10 md:group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
    
  </div>
  

  <div class="relative group">
    <Image
    src={g2}
    alt="Your Alt Text"
    class="absolute group-hover:opacity-0"
  />

  <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-0 group-hover:-translate-y-5  md:group-hover:translate-x-10 md:group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
    <p class="font-bold text-2xl">Continuous learning</p>
    <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
  </div>
  
</div>


  <div class="relative group py-10 md:py-0">
    <Image
      src={g3}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-0 group-hover:-translate-y-5  md:group-hover:translate-x-10 md:group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
    
  </div>
  <div class="relative group">
    <Image
      src={g4}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-10 group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
  </div>
  <div class="relative group">
    <Image
      src={g5}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-10 group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
  </div>
  <div class="relative group">
    <Image
      src={g6}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-10 group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Your Cool Title</p>
      <p class="text-lg">A placeholder description that can be longer to see how it wraps and looks.</p>
    </div>
  </div>
  <div class="relative group">
    <Image
      src={g7}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-10 group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
  </div>

  <div class="relative group">
    <Image
      src={g8}
      alt="Your Alt Text"
      class="absolute group-hover:opacity-0"
    />
  
    <div class="absolute z-10 opacity-0 ease-in-out group-hover:opacity-100 group-hover:translate-x-10 group-hover:-translate-y-20 p-8 duration-1000 bg-gradient-to-t from-green-500 to-green-700 border border-black-1 rounded-lg text-white shadow-lg">
      <p class="font-bold text-2xl">Continuous learning</p>
      <p class="text-lg">Recognizing the significance of knowledge and learning, we provide our staff with a variety of courses, fostering continuous growth through collaboration with peers and mentors.</p>
    </div>
  </div>


</div>
</div>

   -->


