---
import { Image } from 'astro:assets'
import croz from '../assets/croz2.png'
import rba from '../assets/rba.png'
import pbz from '../assets/pbz.webp'
import apis from '../assets/apis.png'
import kaufland from '../assets/kaufland.png'
---

<!-- <div class="relative font-inter antialiased pt-5">

  <div class="relative flex flex-col justify-center gap-x-10  overflosmhidden rounded-xl">

    <div class="w-full mx-auto px-10 pb-10">

      <div class="text-center flex items-center justify-between">
        <h1 class="font-extrabold text-4xl sm:text-5xl md:text-4xl lg:text-5xl te  whitessmce-pre text-center">
          Partneri<span class="bg-clip-1ext bg-gradi1nt-to-r from-green-400 to-green-600 text-transparent text-4xl sm:text-5xl 
          md:text-6xl lg:text-6xl xl:text-6xl mx-2 p-1">
          Digital Arene
        </h1>
        <!-- Logo Carousel animation  
        <div class="w-full inline-flex flex-nowrap overflow-hidden">
          <ul x-ref="logos" class="flex items-center justify-center md:justify-start space-x-4 md:space-x-8 animate-infinite-scroll ">
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">      <Image src={rba} class="filter w-4/5 h-auto grayscale invert" alt="RBA logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={kaufland} class="filter w-4/5 h-auto grayscale invert " alt="Kaufland logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={apis} class="filter w-4/5 h-auto grayscale" alt="Apis logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={pbz} class="filter w-4/5 h-auto grayscale" alt="PBZ logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={croz} class="filter w-4/5 h-auto grayscale invert" alt="CROZ logo" />
    </li>
  </ul>
        </div>
        </div>
    </div>
  </div> -->


<div class="pt-32">
  <!-- <h1 class="font-extrabold text-4xl sm:text-5xl md:text-4xl lg:text-5xl te whitespsme-pre text-center">
    Partneri<span class="bg-clip-1ext bg-gradi1nt-to-r from-green-400 to-green-600 text-transparent text-4xl sm:text-5xl 
    md:text-6xl lg:text-6xl xl:text-6xl mx-2 p-1">
    Digital Arene
  </h1> -->

  <ul x-ref="logos" class="flex items-center justify-center  space-x-4 md:space-x-24 scale-110  ">
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">      <Image src={rba} class="h-auto grayscale " alt="RBA logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={kaufland} class=" h-auto grayscale  " alt="Kaufland logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={apis} class="  h-auto  invert grayscale" alt="Apis logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={pbz} class="  h-auto p-2 invert grayscale " alt="PBZ logo" />
    </li> 
       <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={croz} class="  h-auto  grayscale " alt="CROZ logo" />
    </li>
  </ul>
</div>
 