---
import { Image } from 'astro:assets'
import croz from '../assets/croz2.png'
import rba from '../assets/rba.png'
import pbz from '../assets/pbz.webp'
import apis from '../assets/apis.png'
import kaufland from '../assets/kaufland.png'
---




<div class="pt-32">

  <ul x-ref="logos" class="flex items-center justify-center  space-x-4 md:space-x-24 scale-110  inset-10  ">
    <li class="w-32 sm:w-25 h-32 sm:h-25 grayscale hover:grayscale-0 flex items-center justify-center rounded-lg  ">  
          <Image src={rba} class="h-auto grayscale dark:invert hover:invert-0 hover:grayscale-0 " alt="RBA logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={kaufland} class=" h-auto grayscale dark:invert  " alt="Kaufland logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={apis} class="  h-auto grayscale invert dark:invert-0 " alt="Apis logo" />
    </li>
    <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={pbz} class="  h-auto p-2 grayscale invert dark:invert-0  hover:invert" alt="PBZ logo" />
    </li> 
       <li class="w-32 sm:w-25 h-32 sm:h-25 flex items-center justify-center rounded-lg  ">
      <Image src={croz} class="  h-auto  grayscale invert hover:grayscale-0 " alt="CROZ logo" />
    </li>
  </ul>
</div>
 